.Modal {
  position: fixed;
  z-index: 500;
  width: 70%;
  background-color: rgba(32, 32, 32, 0.95);

  box-shadow: 2px 2px 2px black;
  padding: 0;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      left: calc(50% - 250px);
  }
}