.Square {
  background-color: #404040;
  box-sizing: border-box;

  padding: 1px;


  text-align: center;
  position: relative;
  border-radius: 2px;
}

.Selectable {
  cursor: pointer;
}

@media (min-width: 600px) {
  .Square {
    border-radius: 3px;
  }
}