.Letter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;

  margin: 2px;

  background-color: white;
  text-align: center;
  padding: 2px;
  border: 2px solid;
  border-radius: 5px;

  text-align: center;


  color: black;
  font-weight: bold;

}

.Selectable {
  cursor: pointer;
}

.Selected {
  background-color: yellowgreen;
}

.AlreadyPlayed {
  border-style: dotted;
}

.Highlighted {
  background-color: #f0c546;
}