.Letter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;

  border-radius: 2px;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255);
  text-align: center;


  color: black;
  font-weight: bold;
}

@media (min-width: 600px) {
  .Letter {
    border-radius: 3px;
  }
}

.Selectable {
  cursor: pointer;
}

.Selected {
  background-color: yellowgreen;
}

.Highlighted {
  background-color: #f0c546;
}