.Letter {
  color: black;
  background-color: white;
  text-align: center;
  padding: 2px;
  border: 2px solid #008000;
  border-radius: 5px;
}

.Selectable {
  cursor: pointer;
}

.Selected {
  background-color: yellowgreen;
}

.AlreadyPlayed {
  border-style: dotted;
}