.Rack {
  margin: 5px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  justify-content: center;
  background-color: #303030;

  padding: 10px;
}