.Bonus {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;

  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}

@media (min-width: 600px) {
  .Bonus {
    border-radius: 3px;
  }
}